# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio:latest
    build: .
    ports:
      - 8080:8080
      - 35729:35729
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development
      - BUNDLE_PATH=/srv/jekyll/vendor/bundle
      - BUNDLE_APP_CONFIG=/srv/jekyll/.bundle
